{
  "presets": [["es2015", { "loose": true }], "react", "stage-0"],
  "plugins": [
    "flow-react-proptypes",
    "add-module-exports",
    "transform-object-rest-spread",
    "transform-flow-strip-types", ["module-alias", [{
      "src": "./src/js",
      "expose": "grommet-cms"
    }]]
  ]
}
