{
  "parser": "babel-eslint",
  "extends": [
    "airbnb"
  ],
  "env": {
    "browser": true,
    "node": true,
    "jest": true,
    "es6": true
  },
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "webpack.config.js"
      }
    },
    "flowtype": {
      "onlyFilesWithFlowAnnotation": false
    }
  },
  "plugins": [
    "flowtype"
  ],
  "globals": {
    "it": true,
    "expect": true,
    "describe": true,
    "jest": true,
    "document": true,
    "test": true,
    "window": true,
    "fetch": true,
    "WebSocket": true,
    "alert": true,
    "type:": true
  },
  "rules": {
    "array-callback-return": 0,
    "default-case": 0,
    "func-names": 0,
    "eol-last": 0,
    "class-methods-use-this": 0,
    "comma-dangle": 0,
    "global-require": 0,
    "no-class-assign": 0,
    "no-console": 0,
    "no-prototype-builtins": 0,
    "no-confusing-arrow": 0,
    "no-mixed-operators": 0,
    "no-return-assign": 0,
    "no-underscore-dangle": 0,
    "no-useless-escape": 0,
    "no-plusplus": 0,
    "import/no-named-as-default": 0,
    "import/no-unresolved": 0,
    "import/no-duplicates": 0,
    "import/extensions": 0,
    "import/no-absolute-path": 0,
    "import/no-extraneous-dependencies": 0,
    "import/no-named-as-default-member": 0,
    "quotes": 0,
    "react/forbid-prop-types": 0,
    "react/prop-types": 0,
    "react/no-unescaped-entities": 0,
    "react/require-default-props": 0,
    "react/no-extraneous-imports": 0,
    "react/no-extraneous-dependencies": 0,
    "react/no-unused-prop-types": 0,
    "react/no-array-index-key": 0,
    "react/no-danger": 0,
    "react/sort-comp": 0,
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/jsx-wrap-multilines": 0,
    "react/jsx-no-bind": [ 2, {
      "ignoreRefs": false,
      "allowArrowFunctions": true,
      "allowBind": true
    }],
    "flowtype/define-flow-type": 1,
    "flowtype/use-flow-type": 1
  }
}