// sass-lint:disable no-important
.post-feed-item--anchor:hover {
  text-decoration: none !important;
}

.post-feed-item--header {
  margin-bottom: 0 !important;
}

.post-feed-item--subtitle {
  margin-top: 0;
}
